<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
    
        <div class="container">
           <h1 class="title">
              Welcome {{g.user.username}}
           </h1> 
           <h2 class="title2">
               You are user number #{{g.user.id}}
           </h2>
        </div>

        
        <script src="" async defer></script>
    </body>
</html>